header{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.flowbox{
    background-color: rgb(154, 202, 239);
    padding: 20% 20%;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.topMenu{
    background-color: rgb(104, 172, 225);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
}

.topMenu a{
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.topMenu a:hover{
    background-color: rgb(84, 142, 186);
}

.topMenu a.active{
    background-color: rgb(93, 160, 211);
}

.topMenu a.active:hover{
    background-color: rgb(70, 122, 162);
}